:root {
  --bg: #5880c5;
  ;
  --ligth-text: #cecece;
  --white-color: #ffffff;
}

body {
  font-family: sans-serif;
  height: -webkit-fill-available;
  background-color: var(--bg);
}

.cont-header {
  text-align: center;
}

.cont-user-icon {
  font-size: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25vh;
  color: var(--white-color);
}

.cont-principal {
  height: 75vh;
  background-color: var(--white-color);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: auto;
}

.cont-info{
  display: flex;
  flex-direction: column;
  margin: 10% auto;
  padding: 10px 0px;
  color: #202020;
  font-size: 1.1rem;
}

.cont-info-next{
  animation: slidenext .3s ease-in ;
}
.cont-info-prev{
  animation: slideprev .3s ease-in ;
}

.label{
  font-weight: 700;
  min-width: 170px;
  margin-bottom: 5px;
}

.cont-botones {
  display: flex;
  justify-content: space-evenly;
}

.cont-botones button {
  background-color: #5880c5;
  border: 1px solid transparent;
  color: var(--white-color);
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: all .2s ease;
}

.cont-botones button:hover {
  background-color: transparent;
  border: 1px solid #5880c5;
  color: #5880c5;
}

/* Animations */
@keyframes slidenext {
  0%{transform: translateX(100%);}
  /* 50%{width: 50%;} */
  100%{transform: translateX(0%);}
}
@keyframes slideprev {
  0%{transform: translateX(-100%);}
  /* 50%{width: 50%;} */
  100%{transform: translateX(0%);}
}

/* Media querys */

@media screen and (min-width:425px) {
  .cont-principal{
    max-width: 70%;
  }
}

/* Utilitis */

.mb-1 {
  margin-bottom: 1.5rem;
}